In [2]:
# 1 Remove all occurrences of a specific value from a list

def remove_occurrences(lst, value):
    lst.remove(value)
    return lst

my_list = [1, 2, 3, 4, 3, 5]
value_to_remove = 3
my_list = [x for x in my_list if x != value_to_remove]
print(my_list)

[1, 2, 4, 5]

In [4]:
# Concatenate a list of strings into a single string separated by spaces
def concatenate_strings(string_list):
    return ' '.join(string_list)

my_strings = ['Hello', 'world', 'this', 'is', 'Python']
result = concatenate_strings(my_strings)
print(result)

Hello world this is Python

In [6]:
# 3 :- Reverse a list of integers
def reverse_list(lst):
    lst.reverse()
    return lst

my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]

In [8]:
# 4 Sort a list of numbers in descending order

def sort_descending(lst):
    lst.sort(reverse=True)
    return lst

my_numbers = [5, 2, 9, 1, 5, 6]
sorted_numbers = sort_descending(my_numbers)
print(sorted_numbers)

[9, 6, 5, 5, 2, 1]

In [10]:
# 5 Combine two lists and remove duplicates

def combine_and_remove_duplicates(list1, list2):
    combined = list1 + list2
    return list(set(combined))

list1 = [1, 2, 3]
list2 = [3, 4, 5]
result = combine_and_remove_duplicates(list1, list2)
print(result)

[1, 2, 3, 4, 5]

In [12]:
# 6 Convert a tuple into a list and remove the first and last elements

def convert_and_trim(tup):
    lst = list(tup)
    return lst[1:-1]

my_tuple = (1, 2, 3, 4, 5)
trimmed_list = convert_and_trim(my_tuple)
print(trimmed_list)

[2, 3, 4]

In [14]:
# 7 Extract the first elements from a list of tuples

def extract_first_elements(tuples):
    return [x[0] for x in tuples]

my_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = extract_first_elements(my_tuples)
print(first_elements)

[1, 2, 3]

In [16]:
# 8 Combine two tuples into a single tuple

def combine_tuples(tup1, tup2):
    return tup1 + tup2

tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = combine_tuples(tuple1, tuple2)
print(combined_tuple)

(1, 2, 3, 4)

In [18]:
# 9 Find the maximum and minimum values in a tuple

def find_max_min(tup):
    return max(tup), min(tup)

my_tuple = (1, 2, 3, 4, 5)
max_val, min_val = find_max_min(my_tuple)
print(max_val, min_val)

5 1

In [20]:
# 10 Convert a tuple of strings into a single string separated by commas

def convert_to_string(tup):
    return ', '.join(tup)

my_string_tuple = ('apple', 'banana', 'cherry')
result_string = convert_to_string(my_string_tuple)
print(result_string)

apple, banana, cherry

In [22]:
# 11 Return the union of two sets
def union_of_sets(set1, set2):
    return set1 | set2

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_result = union_of_sets(set1, set2)
print(union_result)

{1, 2, 3, 4, 5}

In [24]:
# 12 Find the intersection of two sets

def intersection_of_sets(set1, set2):
    return set1 & set2

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_result = intersection_of_sets(set1, set2)
print(intersection_result)

{2, 3}

In [25]:
# 13Remove elements from one set that are also present in another set
def remove_intersection(set1, set2):
    set1 -= set2
    return set1

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
result_set = remove_intersection(set1, set2)
print(result_set)

{1, 2}

In [27]:
#  14 :- Find the difference between two sets:

def remove_intersection(set1, set2):
    set1 -= set2
    return set1

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
result_set = remove_intersection(set1, set2)
print(result_set)

{1, 2}

In [29]:
# 15 Convert a list into a set and then back to a list to remove duplicates

def remove_duplicates(lst):
    return list(set(lst))

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

In [31]:
#  16 Merge two dictionaries into a single dictionary

def merge_dictionaries(dict1, dict2):
    return {**dict1, **dict2}

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [32]:
#  17 : Extract all values from a dictionary into a list

def merge_dictionaries(dict1, dict2):
    return {**dict1, **dict2}

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}